
<div class='row' style='margin-bottom: 50px;'>

<div class='col-md-3'></div>

<div class='col-md-6'>

  <div class='alert alert-success' role='alert'>
    <span class='glyphicon glyphicon-ok' aria-hidden='true' 
	  style='margin-right:5px;'></span>
    <span class='sr-only'>Error:</span>
    <span>Thanks!</span>
  </div>

  <p>Here is your square:</p>

  <% if @square.message and @square.message != "" %>

    <p><strong>Message</strong></p>

    <p><%= @square.message %></p>

  <% end %>

  <p><strong>Signature</strong></p>

  <p><em><%= @square.signature %></em></p>

  <p><strong>Photo/Video</strong></p>

  <% if @square.video? %>

    <video class="img-responsive" controls="">
      <source src="<%= @square.media_url %>">
      Your browser does not support the video tag.
    </video>

  <% else %>

    <div id="img-div">

      <%= image_tag 'spinner.svg', id: 'square-img-spinner' %>
      <img class="img-responsive" style="display:none;" 
	   src="<%= @square.media_url %>" 
	   id="square-img"
	   alt='Your photo' />
      
    </div>

  <% end %>

</div>

<div class='col-md-3'></div>

</div>

<div class='row' style='margin-bottom:50px;'>

  <div class='col-md-3'></div>

  <div class='col-md-6'>

    <%= link_to 'Go To Quilt', quilts_path, class: 'btn btn-primary btn-lg',
  	role: 'button' %>

  </div>

  <div class='col-md-3'></div>

</div>
